:root {
  --brown: #7f7045;
  --white: #ffffff;
  --whitegrey: #f5f5f5;
  --blue: #173b67;
  --orange: #ce7c2a;
  --grey: #444444;
  --yellow: #ffcc01;
}

small {
  color: var(--brown);
}

.dog-logo-right {
  position: absolute;
  right: 0;
  top: 10%;
  height: 210px;
  width: 200px;
}

.dog-logo-left {
  position: absolute;
  left: 0;
  top: 10%;
  height: 165px;
  width: 150px;
}

/* HEADER */

header {
  background-color: var(--brown);
}

.navbar {
  background-color: var(--white);
}

/* JUMBOTRON */

.jumbotron {
  background-image: url(../img/b.png);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
  position: relative;
}

.jumbotron .row {
  position: absolute;
  top: 30%;
}

.btn-gs {
  color: var(--white);
  background-color: var(--orange);
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  border: none;
}

.jumbotron img {
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  background-color: #72d0fa;
  border-radius: 0.5rem;
}

/* ABOUT US */

.about-us {
  height: 70vh;
  position: relative;
}

.about-us .col-5 {
  position: relative;
}

.col-5 > .row {
  position: absolute;
  top: 20%;
}

/* SERVICE */

.service {
  background-color: var(--whitegrey);
  position: relative;
}

.card {
  background-color: var(--orange);
  height: 35vh;
  color: var(--white);
  border-top-left-radius: 8rem 10rem;
  border-top-right-radius: 8rem 10rem;
  border-bottom-left-radius: 8rem 10rem;
  border-bottom-right-radius: 8rem 10rem;
}

.card img {
  height: 10vh;
  object-fit: contain;
}

.btn-right img {
  height: 4vh;
  width: 4vh;
  padding: 0.5rem;
  background-color: var(--yellow);
  border-radius: 45%;
  object-fit: contain;
}

.card:hover {
  background-color: var(--brown);
}

/* CHOOSE US */

.choose-us-box {
  height: 130px;
}

.choose-us-box img {
  height: 130px;
  width: 130px;
  display: inline-block;
}

.choose-us-text {
  display: inline-block;
}

.first-badge {
  width: 45vw;
}

.second-badge {
  width: 35vw;
}

.third-badge {
  width: 25vw;
}

#second {
  margin-left: 10vw;
}

#third {
  margin-left: 20vw;
}
